<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>RSD Status Check</h1>
    <form action="\rsdstatus" method="post">
        <label for="dob">Date of Birth</label>
        <input type="text" name="dob" id="dob" placeholder="01/01/1950"> <br>
        <label for="caseno">Case Number</label>
        <input type="text" name="caseno" id="caseno" placeholder="555-15C00001"/> <br>
        <input type="submit">
    </form>
    
</body>
</html>